@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.contenedor * {
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.encabezado {
    grid-area: header;
    background-color: #bcc906;   
}

.navegacion {
    grid-area: navbar;
    background-color: #1327db;   
}

.menu_lateral {
    grid-area: sidebar;
    background-color: #db1313;   
    height: 100px !important;
}

.articulo {
    grid-area: main;
    background-color: #049208;   
}

.pie_de_pagina {
    grid-area: footer;
    background-color: #bd0d65;   
    color: white;
}

.contenedor {
    display: grid;
gap: 10px;
grid-template:
   "header" 100px
   "navbar" 50px
   "main" auto
   "sidebar" 100px
   "footer" 100px
}

    @media (min-width: 600px) {
        .contenedor {
            grid-template:
                "header header header" 100px
                "navbar navbar navbar" 50px
                "sidebar main main" auto
                "footer footer footer" 100px
                / 200px auto auto;
        }
    }







